extends base

block css
    link(rel='stylesheet', href='css/map.css')

block js
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='/js/main.js')

block content
    include navigation

    div.height100(ng-app='Ifiszallasok')
        div.height100(ng-controller='mainCtrl')
            div(id='map-canvas', map='')
            div(id='markers')
                div(class='title')
                    | Szálláshelyek
                input.form-control(type='text',ng-model='filter.location',placeholder='Keresés')
                ul(id='marker-list')
                    li(ng-repeat='county in counties',ng-show='(county.locations | filter : filter.location).length')
                        .group-title {{ county.name }}
                        ul.places-list
                            li.location(ng-repeat='location in county.locations | filter : filter.location')
                                span.name(ng-click='openInfoWindow(location)') {{ location.name }}

            #info-window.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                            h4.modal-title {{ selectedLocation.name }}
                        .modal-body
                            div(ng-bind-html='selectedLocation.description')
                            div(ng-if='selectedLocation.contacts')
                                h4 Elérhetőségek:
                                ul
                                    li(ng-repeat='contact in selectedLocation.contacts')
                                        i.glyphicon(ng-class='getContactTypeClass(contact)')
                                        b &nbsp; {{ contact.name }} &nbsp;
                                        span &dash; {{ contact.value }}
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Bezárás
