extends base

block css
    link(rel='stylesheet', href='css/map.css')

block content
    include navigation
    div.height100(ng-app='Ifiszallasok')
        div.height100(ng-controller='mainCtrl')
            div(id='map-canvas', map='')
            div(id='markers')
                div(class='title')
                    | Szálláshelyek
                ul(id='marker-list')

block js
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='/js/map.js')
