<div class="row">
    <div class="col-lg-4">
        <button class="btn btn-default" ng-click="addCounty()"><i class="glyphicon glyphicon-plus-sign"></i> Megye felvétele</button>
        <button class="btn btn-default" ng-click="addLocation()"><i class="glyphicon glyphicon-plus-sign"></i> Helység felvétele</button>
    </div>
    <div class="col-lg-offset-4 col-lg-4" style="padding: 20px 50px">
        <input type="text" ng-model="filter.location" placeholder="Keresés" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <fieldset ng-repeat="county in counties track by county._id" >
            <legend>{{ county.name }} <small><a ng-href="#/county/{{ county._id }}"><i class="glyphicon glyphicon-edit"></i></a></small></legend>
            <ul>
                <li ng-repeat="location in county.locations | filter : filter.location">
                    <a ng-href="#/location/{{ location._id }}" ng-click="editLocation(location, county)">{{ location.name }}</a>
                </li>
            </ul>
        </fieldset>
    </div>
</div>
