<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="location-edit">
            <h3>Megye - {{ countyData.name }}</h3>
            <hr/>
            <form class="form-horizontal">
                <fieldset>
                    <legend>Alap adatok</legend>
                    <div class="form-group">
                        <label class="col-sm-3">Név</label>
                        <div class="col-sm-9"><input ng-model="countyData.name" class="form-control"></div>
                    </div>
                </fieldset>
            </form>
            <div>
                <div class="form-group">
                    <button type="button" ng-click="save()" class="btn btn-primary pull-right">Mentés</button>
                    <a href="#/" class="btn btn-link pull-right">Mégsem</a>
                </div>
            </div>
        </div>
    </div>
</div>