<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="location-edit">
            <h3>Szállás - {{ locationData.name }}</h3>
            <hr/>
            <form class="form-horizontal">
                <fieldset>
                    <legend>Alap adatok</legend>
                    <div class="form-group">
                        <label class="col-sm-3">Név</label>
                        <div class="col-sm-9"><input ng-model="locationData.name" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Megye</label>
                        <div class="col-sm-9"><select ng-options="c._id as c.name for c in counties" ng-model="locationData.county_id" class="form-control"></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Cím</label>
                        <div class="col-sm-9"><input ng-model="locationData.address" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Hely</label>
                        <div class="col-sm-9">
                            <map-place-search ng-model="locationData.coordinate"></map-place-search>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Ügyintéző</label>
                        <div class="col-sm-9"><input ng-model="locationData.manager" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Leírás</label>
                        <div class="col-sm-9">
                            <rich-text-editor ng-model="locationData.description" ></rich-text-editor>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Tulajdonságok</legend>
                    <div class="form-group">
                        <label class="col-sm-3">Férőhelyek</label>
                        <div class="col-sm-3">
                            <input ng-model="locationData.extras.rooms" class="form-control" type="number" placeholder="Szokbák száma">
                        </div>
                        <div class="col-sm-3">
                            <input ng-model="locationData.extras.beds" class="form-control" type="number" placeholder="Ágyak száma">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="locationData.extras.kitchen"> Saját konyha</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <fieldset>
                <legend>Elérhetőségek</legend>
                <div ng-repeat="contact in locationData.contacts" class="form-group col-sm-offset-3 col-sm-9" >
                    <form editable-form name="contactForm"  class="form-inline" role="form">
                        <div class="form-group">
                                <span editable-select="contact.type"
                                      e-name="type"
                                      e-require
                                      e-ng-options="t as n for (t, n) in contactTypes"
                                      e-class="form-control input-sm">
                                    <i class="glyphicon" ng-class="{
                                        'glyphicon-phone': contact.type == 'mobil',
                                        'glyphicon-phone-alt': contact.type == 'phone',
                                        'glyphicon-envelope': contact.type == 'email',
                                        'glyphicon-link': contact.type == 'web',
                                        'glyphicon-question-sign': !contact.type
                                    }"></i>
                                </span>
                        </div>
                        -
                        <div class="form-group">
                                <span editable-text="contact.name"
                                      e-name="name"
                                      e-placeholder="Név"
                                      e-require
                                      e-class="form-control input-sm">
                                    {{ contact.name || 'Név' }}
                                </span>
                        </div>
                        -
                        <div class="form-group">
                                <span editable-text="contact.value"
                                      e-name="value"
                                      e-placeholder="Érték"
                                      e-require
                                      e-class="form-control input-sm">
                                    {{ contact.value || 'Érték' }}
                                </span>
                        </div>
                        <div class="pull-right">
                            <span ng-hide="contactForm.$visible">
                                <button type="button" ng-click="contactForm.$show()" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-edit"></i> Szerkesztés</button>
                                <button type="button" ng-click="removeContact($index)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> Törlés</button>
                            </span>
                            <span ng-show="contactForm.$visible">
                                <button type="submit" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
                                <button type="button" ng-click="contactForm.$cancel()" class="btn btn-xs btn-link"><i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="form-group"><button ng-click="addContact()" class="btn btn-default btn-xs pull-right"><i class="glyphicon glyphicon-plus-sign"></i> Új Elérérhetőség hozzáadása</button></div>
            </fieldset>
            <hr>
            <div class="form-group">
                <button type="button" ng-click="remove()" class="btn btn-danger pull-left">Törlés</button>
                <button type="button" ng-click="save()" class="btn btn-primary pull-right">Mentés</button>
                <a href="#/" class="btn btn-link pull-right">Vissza</a>
            </div>
        </div>
    </div>
</div>