<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="location-edit">
            <h3>Szállás szerkezstése - {{ locationData.name }}</h3>
            <hr/>
            <form class="form-horizontal">
                <fieldset>
                    <legend>Alap adatok</legend>
                    <div class="form-group">
                        <label class="col-sm-3">Név</label>
                        <div class="col-sm-9"><input ng-model="locationData.name" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Megye</label>
                        <div class="col-sm-9"><select ng-options="c._id as c.name for c in counties" ng-model="locationData.county_id" class="form-control"></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Cím</label>
                        <div class="col-sm-9"><input ng-model="locationData.address" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Hely</label>
                        <div class="col-sm-9">
                            <map-place-search ng-model="locationData.coordinate"></map-place-search>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Ügyintéző</label>
                        <div class="col-sm-9"><input ng-model="locationData.manager" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Leírás</label>
                        <div class="col-sm-9"><textarea ng-model="locationData.description" class="form-control"></textarea></div>
                    </div>
                </fieldset>
            </form>
            <div>
                <fieldset>
                    <legend>Elérhetőségek</legend>
                    <div ng-repeat="contact in locationData.contacts" class="form-group"><span e-form="contactForm" editable-text="contact.type">type</span><span e-form="contactForm" editable-text="contact.name">name</span><span e-form="contactForm" editable-text="contact.value">value</span><button ng-click="contactForm.$show()" class="btn btn-xs btn-default">Edit</button><button class="btn btn-xs btn-danger">Remove</button></div>
                    <div class="form-group"><button ng-click="addContact(locationData)" class="btn btn-default btn-xs">Új Elérérhetőség</button></div>
                </fieldset>
                <hr>
                <div class="form-group">
                    <button type="button" ng-click="save()" class="btn btn-primary pull-right">Mentés</button>
                    <a href="#/" class="btn btn-link pull-right">Mégsem</a>
                </div>
            </div>
        </div>
    </div>
</div>